version: '2'
services:

  rethinkdb:
    build: /rethinkdb
    ports:
     - "28015"
    volumes:
     - /data:/data
    command: rethinkdb --bind all --data /data 

  binance_btc_features_ingress:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb

  binance_eth_features_ingress:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb

  binance_bnb_features_ingress:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb

  binance_usdt_features_ingress:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb

  binance_prices_ingress:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb

  db_maintain:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb

  server:
    build: /app
    volumes:
     - /app/folder:/app
    command: node start --production
    depends_on: rethinkdb