version: '3'
services:
  rethinkdb:
    image: rethinkdb
    ports:
     - 8080:8080
     - 28015:28015
     - 29015:29015
    volumes:
     - ${PWD}/data:/data

  rethinkdb_setup:
    build:
      context: ./
      dockerfile: ./Dockerfile-ingress
      args:
        buildno: 1
    command: python ./utils.py --run setup
    depends_on: 
      - rethinkdb

  binance_btc_features_ingress:
    build:
      context: ./
      dockerfile: ./Dockerfile-ingress
      args:
        buildno: 1
    command: python ./ingress.py --quote BTC
    depends_on: 
      - rethinkdb
      - rethinkdb_setup

  # binance_eth_features_ingress:
  #   build:
  #     context: ./
  #     dockerfile: ./Dockerfile-ingress
  #     args:
  #       buildno: 1
  #   command: python ./ingress.py --quote ETH
  #   depends_on: 
  #     - rethinkdb
  #     - rethinkdb_setup

  # binance_bnb_features_ingress:
  #   build:
  #     context: ./
  #     dockerfile: ./ingress/Dockerfile-ingress
  #     args:
  #       buildno: 1
  #   command: python ./environment/ingress.py --quote BNB
  #   depends_on: 
  #     - rethinkdb
  #     - rethinkdb_setup

  # binance_usdt_features_ingress:
  #   build:
  #     context: ./
  #     dockerfile: ./ingress/Dockerfile-ingress
  #     args:
  #       buildno: 1
  #   command: python ./environment/ingress.py --quote USDT
  #   depends_on: 
  #     - rethinkdb
  #     - rethinkdb_setup

  db_maintain:
    build:
      context: ./
      dockerfile: ./Dockerfile-ingress
      args:
        buildno: 1
    command: python ./utils.py --run maintain
    depends_on: 
      - rethinkdb
      - rethinkdb_setup

  # server:
  #   build:
  #     context: ./
  #     dockerfile: ./server/Dockerfile-server
  #     args:
  #       buildno: 1
  #   volumes:
  #    - /app/folder:/app
  #   command: python ./server.py
  #   ports:
  #    - "5000:5000"
  #   depends_on: 
  #     - rethinkdb
  #     - rethinkdb_setup

  # TODO run integration tests