asn1crypto==0.24.0
attrs==18.2.0
autobahn==19.1.1
Automat==0.7.0
binance==0.3
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.4.2
cvxopt==1.2.2
cycler==0.10.0
dateparser==0.7.0
httplib2==0.12.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
kiwisolver==1.0.1
networkx==1.8.1
oauth2client==4.1.3
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
python-binance==0.7.0
python-dateutil==2.7.5
pytz==2018.9
regex==2018.11.22
requests==2.21.0
rethinkdb==2.3.0.post6
service-identity==18.1.0
six==1.12.0
Twisted==18.9.0
txaio==18.8.1
tzlocal==1.5.1
urllib3==1.24.1
zope.interface==4.6.0
